body{
    background-color: lightgreen;
}
.dropdown-item1{
    color: red;
}
.form-control{
    color: lightgray;
}
.dos{
    color: black;
    font-family: "Trebuchet MS";
}


.tres{
    color: black;
    font-family: "Trebuchet MS";
}
